# /api : Use this for local development with the local backend (localhost:8443).
# /remote-api : Use this for testing with the server (0xai.nl), to bypass requests being blocked due to CORS.
#               This is handled in the Caddyfile.dev file, which proxies these requests to the server.
#               You can alternatively also use the direct linkt to the server (https://0xai.nl/api),
#               but note that when you make a request from localhost to this address directly, 
#               your requests likely will be blocked by the browser due to CORS. 
VITE_API_URL=/remote-api
