[Unit]
Description=Research AI Ricgraph
Requires=research-ai-prod-pod.service
After=research-ai-prod-pod.service

[Container]
ContainerName=research-ai-ricgraph
Image=ghcr.io/utrechtuniversity/ricgraph:latest
Pod=research-ai-prod.pod

ExposeHostPort=3030
Volume=ricgraph-data:/var/lib/neo4j/data

[Install]
WantedBy=multi-user.target
