[Unit]
Description=Research AI Frontend
Requires=research-ai-prod-pod.service
After=research-ai-prod-pod.service

[Container]
ContainerName=research-ai-frontend
Image=research-ai-frontend:prod
Pod=research-ai-prod.pod

Volume=caddy-data:/data
Volume=caddy-config:/config

[Install]
WantedBy=multi-user.target
