# /api : Use this for local development against the local Python backend (localhost:8000).
# /remote-api : Use this for testing against the live server (0xai.nl), bypassing CORS.
#               This is handled in the Caddyfile.dev file, which proxies these requests to the server, bypassing CORS.
VITE_API_URL=/remote-api