[Unit]
Description=Research AI API

[Service]
Restart=always
RestartSec=5
StartLimitIntervalSec=0
StartLimitBurst=0

[Container]
ContainerName=research-ai-api
Image=research-ai-api:prod
Network=research-ai-net.network

EnvironmentFile=/etc/research-ai/research-ai-prod.env

[Install]
WantedBy=multi-user.target